<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Transactions</title>
</head>
<body>
  
   <p><a href="{% url 'home' %}">Home</a></p>
    <h1>All Transactions</h1>


    <a href="{% url 'add_transaction' %}">Add a transaction</a>

<ul>
  {% for transaction in transactions %}
  <li>
    {{ transaction.date }}: {{ transaction.description }} ({{transaction.category }}) - ${{transaction.amount }}
    <a href="{% url 'edit_transaction' transaction.id %}">Edit</a>
  </li>
  {% empty %}
    <li>No transactions found.</li> 
    {%endfor%}
</ul>






</body>
</html>
